@charset "utf-8";

/***********base**************/
img, button {
	border: none;
	vertical-align: middle;
}

*html {
	background-image: url(about:blank);
	background-attachment: fixed;
}

ul, ol, li {
	list-style: none;
}

body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea, td, th {
	font: 12px/1.2 "microsoft yahei", \5b8b\4f53, Arial, Helvetica, sans-serif;
}

input, textarea, button, select {
	outline: none;
	vertical-align: middle;
	font-weight: normal;
	height: 22px;
	line-height: 22px;
}

input:focus, textarea:focus {
	outline: none;
}

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
	display: block;
}

img, p, table, td, th, body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, label {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link {
	text-decoration: none;
}

/*未访问的链接 */
a:visited {
	text-decoration: none;
}

/*已访问的链接*/
a:hover {

	/*color:#FF6300;*/
}

/*鼠标移动到链接上*/
a:active {
	text-decoration: none;
	color: #F00;
}

/*选定的链接*/
a:focus {
	outline: none;
	-moz-outline: none;
}

/*链接虚线*/

/*footer start*/

/*base*/
.clearfix {
	display: block;!important;
	clear: both;
}

.ov {
	overflow: hidden;
}

.m {
	margin: 0 auto;
}

.h {
	height: auto;
}

.w {
	width: 100%;
}

.dpl {
	display: inline-block;
}

.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

.bcfoot {
	border-top: 1px solid #eee;
}

.fb600 {
	font-weight: 600;
}

.tc {
	text-align: center;
}

/*长度*/
.w1200 {
	width: 1200px;
}

.w140 {
	width: 140px;
}

/*边距*/
.pl100 {
	padding-left: 100px;
}

.pt10 {
	padding-top: 10px;
}

.pt30 {
	padding-top: 30px;
}

.pt40 {
	padding-top: 40px;
}

.pb30 {
	padding-bottom: 30px;
}

.mt4 {
	margin-top: 4px;
}

.mt9 {
	margin-top: 9px;
}

.mt10 {
	margin-top: 10px;
}

.mt30 {
	margin-top: 30px;
}

.mt47 {
	margin-top: 47px;
}

.ml15 {
	margin-left: 15px;
}

.ml70 {
	margin-left: 70px;
}

.mr50 {
	margin-right: 50px;
}

/*字号*/
.f12 {
	font-size: 12px;
}

.f14_a {
	font-size: 14px;
}

.f16 {
	font-size: 1em;
}

.f20 {
	font-size: 1.25em;
}

/*guarantee*/
.guarantee li {
	float: left;
	width: 210px;
}

.guarantee li p a {
	color: #777;
}

.aftermarket li {
	float: left;
	font-size: 12px;
	line-height: 24px;
	width: 127px;
}

.advisory li {
	float: left;
	font-size: 12px;
	text-align: center;
	width: 70px;
}

.advisory li a {
	color: #777;
}

.aftermarket li a {
	color: #777;
}

.foot_style {
	color: #777;
}

/*版权*/
.clearfix {
	clear: both;
	display: block !important;
}

.footTwo a {
	margin-right: 18px;
	margin-left: 18px;
}

.footTwo a:hover {
	color: #ff8200;
}

.footall_a {
	float: right;
	color: #777777;
	font-family: "宋体";
	font-size: 12px;
	cursor: pointer;
	display: inline;
}

.footpp {
	height: 190px;
	position: relative;
	width: 100%;
	border-bottom: #dbdbdb 1px solid;
}

.footpp1 {
	width: 200px;
	height: 100px;
	float: left;
	margin-right: 25px;
	display: block;
}

.footpp2 {
	width: 115px;
	height: 137px;
	float: left;
	display: block;
	position: relative;
}

.foot_img {
	margin-left: 316px;
	margin-top: 15px;
	padding-bottom: 30px;
}

.ff_a a:hover {
	color: #ff8201
}

/* footer end */